body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Container with full background image */
.container-overall {
  position: relative;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  color: white;
  z-index: 0;
  overflow: hidden;
  background: url("/assets/images/chat.png") no-repeat center center/cover;
}

/* Dark Overlay */
.container-overall::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Opacity layer updated */
  z-index: 0;
}

/* Ensuring all content layers above the overlay */
.container-right,
.container-left,
.tabs,
.chat-list,
.modal,
.modalContent,
.container-chat {
  position: relative;
  z-index: 1;
}

/* Layout styles */
.container-right {
  display: flex;
}

.container-left {
  flex: 3;
  min-height: 90vh;
}

/* Tabs styling */
.tabs {
  display: flex;
  padding-top: 2rem;
  justify-content: space-around;
  border-bottom: 1px solid #3bb4a1;
}

.chat-list {
  padding: 10px;
}

/* Chat name styling */
.chat-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  text-shadow: 1px 1px 2px #000;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
  margin: 10px 0;
}

/* Modal background */
.modalBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* Modal boxes */
.modal,
.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2d2d2d;
  color: #3bb4a1;
  padding: 50px;
  border-radius: 10px;
  z-index: 2;
}

.container-chat {
  min-width: 70vw;
}

/* Responsive styles */
@media (max-width: 780px) {
  .container-right {
    flex-direction: column;
  }

  .modalContent {
    padding: 0px;
  }
}
